.contact-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact-container {
    flex: 1;
    padding: 40px 20px;
}

.contact-title {
    color: #3aafa9;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
}

.contact-subtitle {
    color: #17252a;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.contact-description {
    color: #17252a;
    font-size: 1.1rem;
    margin-bottom: 40px;
    text-align: left;
}

.contact-info {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.contact-info h3 {
    color: #3aafa9;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.contact-info h4 {
    color: #17252a;
    font-size: 1rem;
    margin-bottom: 10px;
}

.contact-info p {
    color: #17252a;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 20px;
}

.contact-info ul {
    padding-left: 20px;
    list-style-type: none;
}

.contact-info li {
    color: #17252a;
    font-size: 1rem;
    margin-bottom: 5px;
}

.contact-info li strong {
    color: #707070;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: #17252a;
}

.form-check-label {
    color: #17252a;
}

.button-container {
    text-align: center;
}

.btn-success {
    background-color: #3aafa9;
    border: none;
    color: white;
    display: inline-block;
}

.btn-success:hover {
    background-color: #2e8b8b;
}